body{
    padding: 15px;
}

form{
    width: 60%;
    padding: 15px;
    background-color: #d5d8dc;
}

.nav{
    border-bottom: 1px solid;
}

.margen_superior{
    margin-top: 10px;
}

.cambia_color{
    background-color: aqua;
}

.formulario{
    display: none;
}